<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" th:href="@{/img/landing/logo.png}"/>
    <title th:text="${product.name}"></title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/productStyles.css}">
    <link href="/css/starsStyles.css" rel="stylesheet">
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js}" rel="stylesheet">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}" rel="stylesheet">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet">
</head>
<body class>
<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card">
                    <form action="/shop/product/all">
                        <button style="width: 100px" class="btn" type="submit">Back</button>
                    </form>
                    <div class="row">
                        <div class="col-md-6 text-center align-self-center"><img class="img-fluid"
                                                                                 th:src="${product.getPicture()}">
                        </div>
                        <div class="col-md-6 info">
                            <div class="row title">
                                <div class="col"><h2 th:text="${product.getName()}"></h2></div>
                            </div>
                            <div>
                                <div><a><i class="fa fa-heart-o">
                                    <th:block th:text="${averageRating}"></th:block>
                                </i></a></div>
                                <th:block th:text="'IBU: ' +${product.getDensity()}"/>
                                <br>
                                <th:block th:text="'ABV: ' + ${product.getStrength()} + '%'"/>
                                <br>
                                <th:block th:text="'Weight: ' + ${product.getWeight()} + ' litres.'"/>
                                <br>
                                <th:block th:text="'$' + ${product.getPrice()}"/>
                            </div>
                            <div class="container d-flex justify-content-center mt-200">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="stars">
                                            <th:block th:if="${rating != null}" sec:authorize="hasAuthority('USER')">
                                                <form method="post" th:action="@{/rating}" id="formId">
                                                    <th:block th:if="${rating.rating == 5}">
                                                        <input checked class="star star-5" id="star-5" type="radio"
                                                               name="rating"
                                                               value="5"/>
                                                    </th:block>
                                                    <label class="star star-5" for="star-5"></label>
                                                    <th:block th:if="${rating.rating == 4}">
                                                        <input checked class="star star-4" id="star-4" type="radio"
                                                               name="rating"
                                                               value="4"/>
                                                    </th:block>
                                                    <label class="star star-4" for="star-4"></label>
                                                    <th:block th:if="${rating.rating == 3}">
                                                        <input checked class="star star-3" id="star-3" type="radio"
                                                               name="rating"
                                                               value="3"/>
                                                    </th:block>
                                                    <label class="star star-3" for="star-3"></label>
                                                    <th:block th:if="${rating.rating == 2}">
                                                        <input checked class="star star-2" id="star-2" type="radio"
                                                               name="rating"
                                                               value="2"/>
                                                    </th:block>
                                                    <label class="star star-2" for="star-2"></label>
                                                    <th:block th:if="${rating.rating == 1}">
                                                        <input checked class="star star-1" id="star-1" type="radio"
                                                               name="rating"
                                                               value="1"/>
                                                    </th:block>
                                                    <label class="star star-1" for="star-1"></label>
                                                    <input hidden th:value="${product.id}" name="product"/>
                                                    <input hidden th:value="${user.id}" name="user"/>
                                                </form>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <th:block sec:authorize="hasAuthority('USER')" th:if="${rating == null}">
                                <div class="container d-flex justify-content-center mt-200">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="stars">
                                                <form method="post" th:action="@{/rating}" id="formId">
                                                    <input class="star star-5" id="star-5" type="radio"
                                                           name="rating"
                                                           value="5"/>
                                                    <label class="star star-5" for="star-5"></label>
                                                    <input class="star star-4" id="star-4" type="radio"
                                                           name="rating"
                                                           value="4"/>
                                                    <label class="star star-4" for="star-4"></label>
                                                    <input class="star star-3" id="star-3" type="radio"
                                                           name="rating"
                                                           value="3"/>
                                                    <label class="star star-3" for="star-3"></label>
                                                    <input class="star star-2" id="star-2" type="radio"
                                                           name="rating"
                                                           value="2"/>
                                                    <label class="star star-2" for="star-2"></label>
                                                    <input class="star star-1" id="star-1" type="radio" name="rating"
                                                           value="1"/>
                                                    <label class="star star-1" for="star-1"></label>
                                                    <input hidden th:value="${product.id}" name="product"/>
                                                    <input hidden th:value="${user.id}" name="user"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container d-flex justify-content-center mt-200">
                                    <button onclick="document.getElementById('formId').submit()" type="submit"
                                            class="btn">
                                        Submit
                                    </button>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="row lower">
                        <div class="col">
                            <th:block th:if="${products.listIterator(products.indexOf(product)).hasPrevious()}">
                                <a class="carousel-control-prev"
                                   th:href="@{/shop/product/{id}(id =
                                   ${products.get(products.indexOf(product) - 1).getId()})}"
                                   data-slide="prev"><i class="fa fa-arrow-left"></i></a>
                            </th:block>
                            <th:block
                                    th:if="${products.indexOf(product) != products.indexOf(products.get(products.size() - 1))}">
                                <a class="carousel-control-next"
                                   th:href="@{/shop/product/{id}(id =
                                       ${products.get(products.indexOf(product) + 1).getId()})}"
                                   data-slide="next"><i class="fa fa-arrow-right"></i></a>
                            </th:block>
                            <form th:action="@{/cart}" method="post" id="productForm">
                                <div class="col text-right align-self-center">
                                    <input th:value="${product.getId()}" name="product" type="hidden">
                                    <button sec:authorize="hasAuthority('USER')" class="btn">Add to Cart</button>
                                    <th:block th:if="${product.producer == producer}">
                                        <button sec:authorize="hasAuthority('MODERATOR')" class="btn">Delete</button>
                                    </th:block>
                                    <button sec:authorize="hasAuthority('ADMIN')" class="btn">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>