<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{https://code.jquery.com/jquery-1.10.2.min.js}"></script>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/profileStyles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/landing/logo.png}"/>
</head>
<body>
<div class="container">
    <div class="main-body">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Craft Beer Club</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/profile}">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
        <form th:action="@{/profile/edit}" method="post" enctype="multipart/form-data">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <label for="file1" class="imageUpload">
                                <input type="file" id="file1" name="imageFile" style="display: none"
                                       onchange="uploadFile()"/>

                                <div class="d-flex flex-column align-items-center text-center">
                                    <div th:if="${user.getGender() == 'Male' && user.getPicture() == null}">
                                        <img th:src="@{/img/profile/avatars/manAvatar.png}" alt="Admin"
                                             class="rounded-circle" width="256"/>
                                    </div>
                                    <div th:if="${user.getGender() == 'Female' && user.getPicture() == null}">
                                        <img th:src="@{/img/profile/avatars/femaleAvatar.png}" alt="Admin"
                                             class="rounded-circle" width="256"/>
                                    </div>
                                    <div th:if="${user.getGender() == 'Other' && user.getPicture() == null}">
                                        <img th:src="@{/img/profile/avatars/otherAvatar.png}" alt="Admin"
                                             class="rounded-circle" width="256"/>
                                    </div>
                                    <div th:if="${user.getPicture() != null}">
                                        <img th:src="${user.getPicture()}" alt="Admin"
                                             class="rounded-circle" width="256"/>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <progress id="progressBar" value="0" max="100" style="width:350px;"></progress>
                    <h3 id="status"></h3>
                    <p id="loaded_n_total" class="result"></p>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input onchange="this.value = this.value.replace(/\W+|\d/g, '')"
                                           th:field="*{user.firstName}" id="firstName" name="firstName" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input onchange="this.value = this.value.replace(/\W+|\d/g, '')"
                                           th:field="*{user.lastName}" id="lastName" name="lastName" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}" th:field="*{user.email}" id="email"
                                           name="email" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input onchange="this.value = this.value.replace(/\D+/g, '')"
                                           th:field="*{user.phoneNumber}" id="phoneNumber" name="phoneNumber" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input th:field="*{user.address}" id="address" name="address" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Age</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input onchange="this.value = this.value.replace(/\D+/g, '')" th:field="*{user.age}"
                                           id="age" name="address" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </div>
                    <span id="message" style="color:red"></span><br><br>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/uploadProgress.js"></script>
</body>
</html>
